
*{
  box-sizing: border-box;
}
body{
  background: black;
  font-size: 1.2em;
  font-family: sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width:50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.entete {

}
.paragraph{
  color : white;
  text-align: center;
  margin-top: 5%;

}

.mailform{
  color : white;
  text-align: center;
}

.container_mail{
  margin-top: 5%;
}

.bouton{
  border: white 2px solid;
  background-color: black;
  padding: 4px 20px 4px 20px;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-size: 1em;
}

.acc-lien{
  text-align: center;
  padding-top:20px;
}

.acc-lien a{
  padding: 10px 20px;
  text-decoration: none;
}

.acc-lien a:hover{
  text-decoration: underline;
}



.checkbox input{
  margin-left: 15%;
  display: none;
}

.checkbox{
  color: white;
}

input[type="text"],input[type="tel"],input[type="mail"], select{
  color: white;
  width: 100%;
  border : white solid 2px;
  background-color: black;
  padding: 4px;
  border-radius: 2px;
  font-size: 1em;
}


select.erreur{
  border : red solid 2px;
}

input.erreur{
  border : red solid 2px;
}

span.erreur, p.erreur{
  color: red;
}

.squared-erreur{
  background-color: black;
  border: solid 2px red;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  position : relative;
  border-radius: 2px;
  color : red;
}

.checkbox input:checked + .squared-erreur:after{
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top :2px;
  left: 2px;
}

.mail{
  width: 30%;
}

.intitule{
  text-align: left;
  vertical-align: middle;
  width:30%;
  margin: 0;
}

.container-checkbox{
  display: flex;
}

.squared{
  background-color: black;
  border: solid 2px white;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  position : relative;
  border-radius: 2px;
}

/*.checkbox input:checked + .squared{
  border-color: green;
}*/

.checkbox input:checked + .squared:after{
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top :2px;
  left: 2px;
}

.input-form{
  border: white 2px solid;
  background-color: black;
  padding: 4px;
  border-radius: 2px;
  width:100%;
  color: white;
  font-size: 1em;
}

.input-form-accueil{
  border: white 2px solid;
  background-color: black;
  padding: 4px;
  border-radius: 2px;
  width:98%;
  color: white;
  font-size: 1em;}

.container-form-input-bloc{
  display: flex;
  margin-top: 3%;
}

.bloc-input-form{
  vertical-align: middle;
  margin-left: 5%;
  width: 70%;
}

.cp{
  width: 30%;
}
.particulier-form{
  text-align: right;
}
.paragraph-form{
  text-align: right;
  margin-top: 7%;
}

.right{
  text-align: right;
}
